@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#2B2B2B] max-w-[1920px] m-auto;
  margin: 0;
  color: white;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.custom__scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom__scrollbar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 100px;
}

.custom__scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100px;
}

.custom__scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

